* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

section .servicios-left div p, section .servicios-rigth div p, section .colaborador-left div p, section .colaborador-rigth div p {
  margin: 1rem;
  text-align: justify;
  font-size: 1rem; }

section .servicios-left div h2, section .servicios-rigth div h2, section .colaborador-left div h2, section .colaborador-rigth div h2 {
  margin: 1rem;
  text-align: justify;
  font-size: 1.2rem; }

/* estilos del header*/
header {
  font-family: "Montserrat", sans-serif;
  color: #352781;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  border: 0.01rem solid #3fb081; }
  header .img-menu {
    height: 3rem; }
  header .menu ul li a {
    text-decoration: none;
    color: #352781;
    font-size: 1.2rem; }

/* estilos de la pagina index - sin header y footer */
main {
  font-family: "Montserrat", sans-serif;
  color: #352781; }

.banner-index {
  width: 100%; }

/*submenu*/
.submenu-servicios {
  margin: 1rem;
  text-align: center; }
  .submenu-servicios h1 {
    font-size: 1.5rem; }
  .submenu-servicios ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .submenu-servicios ul li {
      list-style: none; }
      .submenu-servicios ul li img {
        height: 3.5rem;
        width: 3.5rem; }
    .submenu-servicios ul li:hover {
      transform: scale(1.2); }

/*section*/
section .servicios-left {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  section .servicios-left img {
    width: 30%; }

section .servicios-rigth {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse; }
  section .servicios-rigth img {
    width: 30%; }

section .legales {
  margin: 1rem;
  font-size: 0.8rem; }

section .ir-arriba img {
  background-color: whitesmoke;
  border-radius: 1rem;
  margin: 1rem;
  height: 2rem;
  width: 2rem;
  position: fixed;
  bottom: 0;
  right: 0; }

/* estilos de la pagina nosotros - sin header y footer */
main {
  font-family: "Montserrat", sans-serif;
  color: #352781; }

.banner-nosotros {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "foto-equipo foto-pedro-garcia foto-daniela-mancebo" "foto-equipo foto-daniela-reyes foto-julian-capasso"; }
  .banner-nosotros img {
    width: 100%; }
  .banner-nosotros .foto-equipo {
    grid-area: foto-equipo; }
  .banner-nosotros .foto-pedro-garcia {
    grid-area: foto-pedro-garcia; }
  .banner-nosotros .foto-daniela-mancebo {
    grid-area: foto-daniela-mancebo; }
  .banner-nosotros .foto-julian-capasso {
    grid-area: foto-julian-capasso; }
  .banner-nosotros .foto-daniela-reyes {
    grid-area: foto-daniela-reyes; }

.quienes-somos {
  margin: 1rem; }
  .quienes-somos h1 {
    font-size: 1.5rem;
    text-align: center; }
  .quienes-somos p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center; }

section .colaborador-left {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  section .colaborador-left img {
    width: 30%; }

section .colaborador-rigth {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse; }
  section .colaborador-rigth img {
    width: 30%; }

/* estilos de la pagina precios - sin header y footer */
main {
  font-family: "Montserrat", sans-serif;
  color: #352781; }

.presentacion-precios {
  margin: 1rem;
  text-align: center; }
  .presentacion-precios h1 {
    font-size: 1.5rem;
    text-align: center; }
  .presentacion-precios p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center; }
  .presentacion-precios a {
    padding: .8rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    background-color: #3fb081;
    text-decoration: none;
    color: #352781; }

.lista-de-precios {
  margin-top: 2.5rem;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "precios-por-chofer precios-por-transaccion" "detalle-por-chofer detalle-por-transaccion" "legales legales"; }
  .lista-de-precios .precios-por-chofer {
    grid-area: precios-por-chofer;
    width: 100%; }
  .lista-de-precios .precios-por-transaccion {
    grid-area: precios-por-transaccion;
    width: 100%; }
  .lista-de-precios .detalle-por-chofer {
    grid-area: detalle-por-chofer;
    width: 100%; }
  .lista-de-precios .detalle-por-transaccion {
    grid-area: detalle-por-transaccion;
    width: 100%; }
  .lista-de-precios .legales {
    margin: 1rem;
    font-size: 0.8rem;
    text-align: center;
    grid-area: legales; }

/* estilos de la pagina contacto - sin header y footer */
main {
  font-family: "Montserrat", sans-serif;
  color: #352781; }

.presentacion-contacto {
  margin: 1rem; }
  .presentacion-contacto h1 {
    font-size: 1.5rem;
    text-align: center; }
  .presentacion-contacto p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center; }

.formulario-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* estilos de la pagina tyc - sin header y footer */
.alto-completo main {
  height: 83vh; }

main {
  font-family: "Montserrat", sans-serif;
  color: #352781; }

.presentacion-tyc {
  margin: 1rem; }
  .presentacion-tyc h1 {
    font-size: 1.5rem;
    text-align: center; }
  .presentacion-tyc p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center; }

.links-tyc ul {
  list-style: none; }
  .links-tyc ul li a {
    font-size: 1.2rem;
    text-decoration: none; }

/* estilos de footer */
.pie-de-pagina {
  font-family: "Montserrat", sans-serif;
  color: #352781;
  background-color: #3fb081;
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pie-de-pagina a {
    margin: 1rem;
    text-decoration: none;
    color: #352781; }
  .pie-de-pagina .redes a img {
    margin: 1rem;
    margin-top: 1rem;
    height: 2rem;
    width: 2rem; }

/* estilos de mediaquerys */
@media (max-width: 576px) and (orientation: portrait) {
  /*index*/
  .submenu-servicios h1 {
    font-size: 1.2rem; }
  .submenu-servicios ul li img {
    height: 2.5rem;
    width: 2.5rem; }
  .servicios-rigth, .servicios-left {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .servicios-rigth img, .servicios-left img {
      width: 80%; }
    .servicios-rigth div h2, .servicios-left div h2 {
      font-size: 1rem; }
    .servicios-rigth div p, .servicios-left div p {
      font-size: 0.8rem; }
  /*nosotros*/
  .quienes-somos h1 {
    font-size: 1.2rem; }
  .quienes-somos p {
    font-size: 1rem; }
  .banner-nosotros {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "foto-pedro-garcia foto-daniela-mancebo" "foto-daniela-reyes foto-julian-capasso"; }
  .foto-equipo {
    display: none; }
  .colaborador-left img, .colaborador-rigth img {
    display: none; }
  .colaborador-left h2, .colaborador-rigth h2 {
    font-size: 1rem; }
  .colaborador-left p, .colaborador-rigth p {
    font-size: 0.8rem; }
  /*precios*/
  .presentacion-precios h1 {
    font-size: 1.2rem; }
  .presentacion-precios p {
    font-size: 1rem; }
  .lista-de-precios {
    display: flex;
    flex-direction: column; }
  .por-chofer, .por-transaccion {
    margin: 1rem; }
  /*contacto*/
  .presentacion-contacto h1 {
    font-size: 1.2rem; }
  .presentacion-contacto p {
    font-size: 1rem; }
  .formulario-contacto {
    width: 100%; }
  /*tyc*/
  .presentacion-tyc h1 {
    font-size: 1.2rem; }
  .presentacion-tyc p {
    font-size: 1rem; }
  .links-tyc ul li a {
    font-size: 1rem; }
  /*footer*/
  .pie-de-pagina a {
    font-size: 0.8rem; }
  .pie-de-pagina .redes a img {
    width: 1rem;
    height: 1rem; } }
