*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*estilos del body*/

body{
    background-color:whitesmoke;
    font-family: 'Montserrat', sans-serif;
    color: rgb(53, 39, 129);
}

/*estilos del header*/

header{
    background-color: whitesmoke;
    position: sticky;
    border: .01rem solid rgb(63,176, 129) ;
    top: 0;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;   
}

.menu img{
    height: 3rem;
    margin: .5rem;
}

.menu ul {
    padding: .5rem;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(53, 39, 129);     
}

/*estilos del main*/

.banner-index{
    width: 100%;
}

.submenu-servicios{
    margin: 1rem;
    text-align: center;
}

.submenu-servicios h1{
    margin: 1rem;
    font-size: 1.5rem;
}


.submenu-servicios ul{
    display: flex;
    justify-content: center;
    gap:2rem;
}

.submenu-servicios ul li{
    list-style: none;    
}
    
.submenu-servicios ul li img{
    height: 3.5rem;
    width: 3.5rem;
}

.servicios-left div, .servicios-rigth div {
   margin: 1rem; 
   text-align: justify;
   font-size: 1rem;
}

.servicios-left div h2, .servicios-rigth div h2 {
    font-size: 1.2rem;
 }

.servicios-left{
    margin: 1rem;
    display: flex;
    align-items: center;
}

.servicios-rigth {
    margin: 1rem;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}

.servicios-left img, .servicios-rigth img{
    width: 40%;
}

.ir-arriba img{
    background-color: whitesmoke;
    border-radius: 1rem;
    margin: 1rem;
    height: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
}

.titulo{
    margin: .5rem;
    font-size: 1.5rem;
    text-align: center;
}

.banner-nosotros{
    height: 660px;
    display: grid;

    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: 
        "uno uno dos tres"
        "uno uno cuatro cinco"
}

.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}
.tres{
    grid-area: tres;
}
.cuatro{
    grid-area: cuatro;
}
.cinco{
    grid-area: cinco;
}

.banner-nosotros div{
    border: 2px solid salmon
}

.quienes-somos{
    margin: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.colaborador-left div, .colaborador-rigth div{
    margin: 1rem; 
    text-align: justify;
    font-size: 1rem;
}

.colaborador-left div h2, .colaborador-rigth div h2{
    font-size: 1.2rem;
}


.colaborador-rigth{
    margin: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.colaborador-left{
    margin: 1rem;
    display: flex;
    align-items: center;
}

.colaboradores img{
    width: 12.5rem;
}

.presentacion-precios{
    margin: 1rem;
    text-align: center;
}

.presentacion-precios h1{
    margin: 1rem;
    font-size: 1.5rem;   
}

.lista-de-precios{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: 
        "precios-por-chofer precios-por-transaccion"
        "detalle-por-chofer detalle-por-transaccion"
        "legales legales"
}

.legales{
    grid-area: legales;
}

.precios-por-chofer{
    grid-area: precios-por-chofer;
}

.precios-por-transaccion{
    grid-area: precios-por-transaccion;
}

.detalle-por-chofer{
    grid-area: detalle-por-chofer;
}

.detalle-por-transaccion{
    grid-area: detalle-por-transaccion;
}

.legales{
    margin: 1rem;
    font-size: .8rem;
    text-align: center;
}



/*estilos del footer*/

.pie-de-pagina{
    margin-top: .5rem;
    background-color:rgb(63,176, 129);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.pie-de-pagina a{
    margin: 1rem;
    text-decoration: none;
    color: rgb(53, 39, 129);
}

.redes ul{
    list-style: none;
    display: flex;   
}

.redes img{
    margin: 1rem;
    margin-top: 1rem;
    height: 2rem;   
}





/*

.colaboradores{
    margin: 20px;
}

.colaboradores div p{
    margin: 10px;
    font-size: 20px;
}



.colaborador p{
    font-size: 20px;
}

.formulario{
    text-align: center;
}

.tabla{
    margin: 20px;
    text-align: center;
}

.tyc{
    margin: 20px;
}

.tyc ul{
    list-style: none;
}


.tyc ul li a{
    font-size: 20px;
    text-decoration: none;
}


*/
