*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

/*estilos del body*/

body{
    background-color:whitesmoke;
    font-family: 'Montserrat', sans-serif;
    color: rgb(53, 39, 129);
}

/*estilos del header*/

header{
    background-color: whitesmoke;
    position: sticky;
    border: .01rem solid rgb(63,176, 129);
    top: 0;
}

.img-menu{
    height: 3rem;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(53, 39, 129);  
    font-size: 1.2rem;   
}

    /*estilos del main*/

        /*estilos del index*/

.banner-index{
    width: 100%;
}

            /*estilos de menu index*/

.submenu-servicios{
    margin: 1rem;
    text-align: center;
}

.submenu-servicios h1{
    margin: 1rem;
    font-size: 1.5rem;
}


.submenu-servicios ul{
    display: flex;
    justify-content: center;    
    gap:2rem;
    }

.submenu-servicios ul li{
    list-style: none;    
}
    
.submenu-servicios ul li img{
    height: 3.5rem;
    width: 3.5rem;
}

.submenu-servicios ul li:hover{
    transform:scale(1.2)
}

            /*estilos de section index*/

.servicios-left div, .servicios-rigth div {
   margin: 1rem; 
   text-align: justify;
   font-size: 1rem;
}

.servicios-left div h2, .servicios-rigth div h2 {
    font-size: 1.2rem;
 }

.servicios-left{
    margin: 1rem;
    display: flex;
    align-items: center;
}

.servicios-rigth {
    margin: 1rem;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}

.servicios-left img, .servicios-rigth img{
    width: 40%;
}

.ir-arriba img{
    background-color: whitesmoke;
    border-radius: 1rem;
    margin: 1rem;
    height: 2rem;
    width: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
}

        /*estilos de nosotros*/

.titulo-nosotros{
    margin: .5rem;
    font-size: 1.5rem;
    text-align: center;
}

.banner-nosotros img{
    width: 100%;
}

.banner-nosotros{
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "foto-equipo foto-pedro-garcia foto-daniela-mancebo"
        "foto-equipo foto-daniela-reyes foto-julian-capasso"
}
.foto-equipo{
    grid-area: foto-equipo;   
}
.foto-pedro-garcia{
    grid-area: foto-pedro-garcia;   
}
.foto-daniela-mancebo{
    grid-area: foto-daniela-mancebo;   
}
.foto-julian-capasso{
    grid-area: foto-julian-capasso;    
}
.foto-daniela-reyes{
    grid-area: foto-daniela-reyes;   
}

.quienes-somos{
    margin: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

            /*estilos de section-nosotros*/

.colaborador-left div, .colaborador-rigth div{
    margin: 1rem; 
    text-align: justify;
    font-size: 1rem;
}

.colaborador-left div h2, .colaborador-rigth div h2{
    font-size: 1.2rem;
}

.colaborador-rigth{
    margin: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.colaborador-left{
    margin: 1rem;
    display: flex;
    align-items: center;
}

.colaboradores img{
    width: 40%;
}

        /*estilos de precios*/

.presentacion-precios{
    margin: 1rem;
    text-align: center;
}

.presentacion-precios h1{
    margin: 1rem;
    font-size: 1.5rem;   
}

.presentacion-precios p{
    margin-bottom: 2rem;
}

.lista-de-precios img{
    width: 100%;
}

.lista-de-precios{
    margin-top: 2.5rem;
    background-color: white;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: 
        "precios-por-chofer precios-por-transaccion"
        "detalle-por-chofer detalle-por-transaccion"
        "legales legales"
}

.legales{
    margin: 1rem;
    font-size: .8rem;
    text-align: center;
    grid-area: legales;
}

.precios-por-chofer{
    grid-area: precios-por-chofer;
}

.precios-por-transaccion{
    grid-area: precios-por-transaccion;
}

.detalle-por-chofer{
    grid-area: detalle-por-chofer;
}

.detalle-por-transaccion{
    grid-area: detalle-por-transaccion;
}

        /*estilos de tyc*/

.alto-completo main{
    height: 83vh; 
}

.presentacion-tyc{
    text-align: center;
}

        /*estilos de contacto*/
.presentacion-contacto{
    text-align: center;
}

        

    /*estilos de botones*/

.un-boton{
    padding: .8rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    background-color:rgb(63,176, 129);
    text-decoration: none;
    color: rgb(53, 39, 129);
}


/*estilos del footer*/

.pie-de-pagina{
    margin-top: .5rem;
    background-color:rgb(63,176, 129);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.pie-de-pagina a{
    margin: 1rem;
    text-decoration: none;
    color: rgb(53, 39, 129);
}

.redes ul{
    list-style: none;
    display: flex;   
}

.redes img{
    margin: 1rem;
    margin-top: 1rem;
    height: 2rem;   
}









/* md */

@media (max-width:576px) and (orientation:portrait){
    /*estilos el main*/

        /*estilos del index*/
            /*estilos del menu index*/

.submenu-servicios h1{
    font-size: 1.2rem;
}

.submenu-servicios ul li img{
    height: 2rem;
    width: 2rem;
}

            /*estilos de section index*/
.servicios-left, .servicios-rigth {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicios-left img, .servicios-rigth img{
    width: 80%;
}


        /*estilos de nosotros*/
.titulo-nosotros{
    font-size: 1.2rem;
}

.banner-nosotros{
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "foto-pedro-garcia foto-daniela-mancebo"
        "foto-daniela-reyes foto-julian-capasso"
}
        
.foto-equipo{
    display: none;
}

.colaborador-left img, .colaborador-rigth img{
    display: none;
}

        /*estilos de precios*/
.lista-de-precios{
    background-color: white;
    display:flex;
    flex-direction: column;
}

.por-chofer, .por-transaccion{
    margin:1rem;
}

    /*estilos de contacto*/
.formulario-contacto{
    width: 100%;
}
    
    /*estilos del footer*/

.pie-de-pagina a{
    font-size: .8rem;
}

.redes img{
    height: 1.2rem;
}   
}




/*no trabajado para segunda preentrega*/



.links-tyc{
    margin: 20px;
}

.links-tyc ul{
    list-style: none;
}


.links-tyc ul li a{
    font-size: 20px;
    text-decoration: none;
}




