*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//importando archivos secundarios

@import"utilidades/variables";
@import"utilidades/mixin";
@import"utilidades/extend";
@import"contenedores/header";
@import"contenedores/index";
@import"contenedores/nosotros";
@import"contenedores/precios";
@import"contenedores/contacto";
@import"contenedores/tyc";
@import"contenedores/footer";
@import"contenedores/md";





