/* estilos de la pagina contacto - sin header y footer */

main{
    @include estilos-basicos
}

.presentacion-contacto{
    @include presentaciones
}
.formulario-contacto{
   display: flex;
   align-items: center;
   justify-content: center;
}