/* estilos de la pagina nosotros - sin header y footer */

main{
    @include estilos-basicos
}


.banner-nosotros{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "foto-equipo foto-pedro-garcia foto-daniela-mancebo"
        "foto-equipo foto-carlos-bernardi foto-victor-vitullo";
        img{
            width: 100%;
        }
        .foto-equipo{
            grid-area: foto-equipo;
        }
        .foto-pedro-garcia{
            grid-area: foto-pedro-garcia;   
        }
        .foto-daniela-mancebo{
            grid-area: foto-daniela-mancebo;   
        }
        .foto-victor-vitullo{
            grid-area: foto-victor-vitullo;    
        }
        .foto-carlos-bernardi{
            grid-area: foto-carlos-bernardi;   
        }
}
.quienes-somos{
    @include presentaciones  
}

section{
    .colaborador-left{
        margin: 1rem;
        @include flex-center;
        img{
            width: 30%;
        }
        div{
            h2{
                @extend %alineacion-subtitulos-alternados;
            }
            p{
                @extend %alineacion-parrafos-alternados;       
            }
        }   
    }
    .colaborador-rigth{
        margin: 1rem;
        @include flex-center;
        flex-direction: row-reverse;
        img{
            width: 30%;
        }
        div{
            h2{
            @extend %alineacion-subtitulos-alternados;
        }
        p{
            @extend %alineacion-parrafos-alternados; 
         }
        }   
    }
    }

