/* estilos de la pagina precios - sin header y footer */

main{
    @include estilos-basicos
}

.presentacion-precios{
    @include presentaciones;
    a{
        text-align: center;
        @include boton-verde;
        
    }
}

.lista-de-precios{
    margin-top: 2.5rem;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "precios-por-chofer precios-por-transaccion"
        "detalle-por-chofer detalle-por-transaccion"
        "legales legales";
        .precios-por-chofer{
            grid-area: precios-por-chofer;
            width: 100%;
        }
        
        .precios-por-transaccion{
            grid-area: precios-por-transaccion;
            width: 100%;
        }
        
        .detalle-por-chofer{
            grid-area: detalle-por-chofer;
            width: 100%;
        }
        
        .detalle-por-transaccion{
            grid-area: detalle-por-transaccion;
            width: 100%;
        }
        .legales{
            margin: 1rem;
            font-size: $size-legales;
            text-align: center;
            grid-area: legales;
        }
}
