/* estilos de la pagina precios - sin header y footer */

main{
    @include estilos-basicos
}

.presentacion-precios{
    @include presentaciones;
    text-align: center;
    a{ 
        @include boton-verde;
        
    }
}

.lista-de-precios{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "precios-por-repartidor precios-por-transaccion"
        "legales legales";
        .precios-por-chofer{
            grid-area: precios-por-repartidor;
            width: 100%;
        }
        .precios-por-transaccion{
            grid-area: precios-por-transaccion;
            width: 100%;
        }
     
        .legales{
            margin: 1rem;
            font-size: $size-legales;
            text-align: center;
            grid-area: legales;
        }
}
