//colores
$color-fondo: whitesmoke;
$color-marca-azul: rgb(53, 39, 129);
$color-marca-verde:rgb(63,176, 129);

//tamaños tipografias
$size-titulos: 1.5rem;
$size-subtitulos: 1.2rem;
$size-copetes: 1.2rem;
$size-parrafos: 1rem;
$size-legales: 0.8rem;

$size-titulos-md: 1.2rem;
$size-subtitulos-md: 1rem;
$size-copetes-md: 1rem;
$size-parrafos-md: 0.8rem;
$size-legales-md: 0.5rem;

//tipografias
$textos: 'Montserrat', sans-serif;
